<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJ Mall App</title>
</head>
<body>
    <div>
        <h1 style="font-size: 20px; font-family: sans-serif;">Welcome on Board!!!!!</h1>
        <p><span style="color: dodgerblue;">Explore</span>the world trade within your evnviroment</p>
    </div>
</body>
</html>